*{
    padding: 0;
    margin: 0; 
}
.bg-img-jumbo{
    background-image: url("https://images.unsplash.com/photo-1467825487722-2a7c4cd62e75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80") ;
}
.bg-img-contact{
    background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}
